{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_adaptable/headernavbar

    Header style one.

    Example context (json):
    {
        "disablecustommenu": false,
        "navigationmenudrawer": "",
        "toolsmenudrawer": true,
        "navigationmenu": "",
        "toolsmenu": false,
        "showcog": true,
        "coursemenucontent": "",
        "othermenucontent": "",
        "pageheadingbutton": "",
        "showhideblocks": true,
        "showhideblockszoomside": "",
        "showhideblockszoominicontitle": "",
        "showhideblockshidetitle": "",
        "showhideblocksshowtitle": "",
        "showhideblocksicontype": "train",
        "showhideblockstext": true,
        "showhideblockszoominicontitle": "",
        "enablezoom": true,
        "enablezoomshowtext": true
    }
}}
<div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex closed" aria-hidden="true" tabindex="-1">
    <div id="nav-drawer-inner">
        <nav class="list-group">
            <ul class="list-unstyled components">
                {{{navigationmenudrawer}}}
                {{^disablecustommenu}}
                <li>
                    {{{output.custom_menu_drawer}}}
                </li>
                {{/disablecustommenu}}
                {{#toolsmenudrawer}}
                <li>
                    {{{toolsmenudrawer}}}
                </li>
                {{/toolsmenudrawer}}
            </ul>
        </nav>

        <nav class="list-group m-t-1">
            {{{output.context_mobile_settings_menu}}}
        </nav>
    </div>
</div>

<div id="main-navbar" class="d-none d-lg-block">
    <div class="container">
        <div class="navbar navbar-expand-md btco-hover-menu">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{#str}}togglenavigation, theme_adaptable{{/str}}">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <nav aria-label="{{#str}}sitelinkslabel, theme_adaptable{{/str}}">
                    <ul class="navbar-nav">
                        {{{navigationmenu}}}
                        {{^disablecustommenu}}
                        {{{output.custom_menu}}}
                        {{/disablecustommenu}}
                        {{#toolsmenu}}
                        {{{output.tools_menu}}}
                        {{/toolsmenu}}
                    </ul>
                </nav>

                <ul class="navbar-nav ml-auto d-flex flex-wrap">
                    {{#showcog}}
                    {{#coursemenucontent}}
                    <li class="nav-item mr-2">
                        <div class="context-header-settings-menu">
                            {{{coursemenucontent}}}
                        </div>
                    </li>
                    {{/coursemenucontent}}

                    {{#othermenucontent}}
                    <li class="nav-item mr-2">
                        <div id="region-main-settings-menu" class="region-main-settings-menu">
                            {{{othermenucontent}}}
                        </div>
                    </li>
                    {{/othermenucontent}}
                    {{/showcog}}

                    {{#pageheadingbutton}}
                    <li id="editingbutton" class="nav-item mx-0 my-auto">
                        {{{pageheadingbutton}}}
                    </li>
                    {{/pageheadingbutton}}

                    {{#showhideblocks}}
                    <li class="nav-item mr-1">
                        <div id="zoominicon" class="{{showhideblockszoomside}} nav-link" title="{{showhideblockszoominicontitle}}" data-hidetitle="{{showhideblockshidetitle}}" data-showtitle="{{showhideblocksshowtitle}}">
                            <i class="fa fa-lg fa-{{showhideblocksicontype}}" aria-hidden="true"></i>
                            {{#showhideblockstext}}
                            <span class="showhideblocksdesc">{{showhideblockszoominicontitle}}</span>
                            {{/showhideblockstext}}
                        </div>
                    </li>
                    {{/showhideblocks}}

                    {{#enablezoom}}
                    <li class="nav-item mx-0 hbll">
                        <a class="nav-link moodlewidth" href="javascript:void(0);" title="{{#str}}fullscreen, theme_adaptable{{/str}}">
                            <i class="fa fa-expand fa-lg" aria-hidden="true"></i>
                            {{#enablezoomshowtext}}
                            <span class="zoomdesc">{{#str}}fullscreen, theme_adaptable{{/str}}</span>
                            {{/enablezoomshowtext}}
                        </a>
                    </li>
                    <li class="nav-item mx-0 sbll">
                        <a class="nav-link moodlewidth" href="javascript:void(0);" title="{{#str}}standardview, theme_adaptable{{/str}}">
                            <i class="fa fa-compress fa-lg" aria-hidden="true"></i>
                            {{#enablezoomshowtext}}
                            <span class="zoomdesc">{{#str}}standardview, theme_adaptable{{/str}}</span>
                            {{/enablezoomshowtext}}
                        </a>
                    </li>
                    {{/enablezoom}}
                </ul>
            </div>
        </div>
    </div>
</div>
